body {
    margin: 0;
    padding: 0;
    background-color: orange;
}

.sigup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.signup-form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.1);
    width: 350px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: black;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    min-width: 80px;
    color: black;
}

.form-group input {
    flex: 1;
    padding: 10px;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.btn-group {
    display: flex;
    gap: 12px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: gray;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: orange;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background: gray;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.signup-btn:hover {
    background: orange;
}